[submodule "libs/zig-tflite"]
	path = libs/zig-tflite
	url = https://github.com/mattn/zig-tflite

[submodule "libs/zig-tflite-xnnpack"]
	path = zig-tflite-xnnpack
	url = https://github.com/mattn/zig-tflite-xnnpack

[submodule "libs/zigcv"]
	path = libs/zigcv
	url = https://github.com/ryoppippi/zigcv
[submodule "libs/zig-tflite-edgetpu"]
	path = libs/zig-tflite-edgetpu
	url = https://github.com/mattn/zig-tflite-edgetpu
